.card {
    background: var(--background);
    border-radius: .5rem;
    padding: 1rem;
    box-shadow: -0.25rem 0.25rem 0rem var(--light-purple);
    display: grid;
    grid-gap: 1.5rem;
    transition: .25s;
    border: 2px solid #dbe4df;
    border-bottom: none;
    border-left: none;
}

.card-title {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
}

.card:hover {
    box-shadow: -0.25rem 0.25rem 0rem var(--purple);
}