th {
    background: var(--text-color);
    color: white;
}

table {
    border-radius: .5rem;
    box-shadow: -0.25rem 0.25rem 0rem var(--light-purple);
    margin-bottom: 1rem !important;
}

table, table * {
    border: none;
}

th:first-child {border-top-left-radius: .5rem;}
th:last-child {border-top-right-radius: .5rem;}

tr.odd {
    background: var(--background) !important;
}

tr:hover {
    background: var(--light-purple) !important;
}

.dataTables_filter {
    margin-bottom: 1rem;
}

.paginate_button {
    border-radius: .5rem;
    border: none;
    color: var(--text-color);
    padding: .5rem;
    margin-left: 95%;
    font-family: 'Lexend Deca', sans-serif;
    cursor: pointer;
    transition: .25s;
}

:is(#main-table_paginate, #fails-table_paginate) .paginate_button.current{
    background: var(--dark-green) !important;
    color: white !important;
}

.dataTables_paginate {
    margin-bottom: 2rem;
}