{% from "macros.html" import field, file_field, check_field, select with context %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backtesting</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@500&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/filters.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/cards.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/switch.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components/table.css') }}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://malsup.github.io/jquery.form.js"></script> 
</head>
<body>
    <header class="swipe-down">
        <div class="container">
            <div class="title">
                backtesting
            </div>
        </div>
    </header>
    <main class="container">
        <form action="/" id="form" method="POST" enctype="multipart/form-data">
            <section class="files">
                <div class="title swipe-right">
                    <img src="{{ url_for('static', filename='img/icons/files.svg') }}" alt="">
                    Arquivos
                </div>
                <div class="files__list">
                    {{ file_field('file_1', '1 ANO') }}
                    {{ file_field('file_2', '2 ANOS') }}
                    {{ file_field('file_5', '5 ANOS') }}
                </div>
            </section>
            <section class="filters">
                <div class="title swipe-right">
                    <img src="{{ url_for('static', filename='img/icons/filter.svg') }}" alt="">
                    Filtros
                </div>
                <div class="filter__checkboxes">
                    {{ check_field('crescente', 'Usar filtro de análise de lucro crescente') }}
                    {{ check_field('positivos', 'Checar se há lucros negativos') }}
                </div>
                <div class="filters__sections">
                    <div class="filter__selection">
                        {{ select('payoff', 'Payoff') }}
                        {{ select('fator_lucro', 'Fator de Lucro') }}
                        {{ select('fator_rec', 'Fator de Recuperação') }}
                        {{ select('sharpe', 'Índice Sharpe') }}
                        {{ select('rebaixamento', '% de Rebaixamento') }}
                    </div>
                    <div class="filter__cards">
                        {{ field('payoff', 'Payoff') }}
                        {{ field('fator_lucro', 'Fator de Lucro') }}
                        {{ field('fator_rec', 'Fator de Recuperação') }}
                        {{ field('sharpe', 'Índice Sharpe') }}
                        {{ field('rebaixamento', '% de Rebaixamento') }}
                    </div>
                </div>
            </section>
            <button class="swipe-right" type="submit" name="submit">
                <img src="{{ url_for('static', filename='img/icons/search.svg') }}" alt="">
                Analisar
            </button>
        </form>

        <div id="form-response"></div>

        <script>
            const formResponse = document.getElementById('form-response');
            const loadingEl = document.getElementById('loading');
            
            $('#form').ajaxForm(function(result) {
                formResponse.innerHTML = result;
                $('#main-table').DataTable({
                    order: [[7, 'desc']],
                });
                $('#fails-table').DataTable();
                formResponse.scrollIntoView();
            });
        </script>

    </main>
</html>

