{% macro select(parameter, title) %}
    <label for="use_{{parameter}}"class="filter__checkbox swipe-up">
        <input type="checkbox" name="use_{{parameter}}" id="use_{{parameter}}">
        {{title}}
    </label>

    <script>
        var {{parameter}}Use = document.querySelector("#use_{{parameter}}");

        {{parameter}}Use.addEventListener("change", () => { 
            var stats = {{parameter}}Use.checked;

            document.querySelector(".{{parameter}}").classList.toggle('hide')

            document.querySelector("#{{parameter}}").disabled = !stats;
            document.querySelector("#{{parameter}}_minmax").disabled = !stats;
            document.querySelector("#{{parameter}}").required = !stats;
        });
    </script>
{% endmacro %}

{% macro field(parameter, title) %}
    <div class="card {{parameter}} hide swipe-up filter__card">
        <div class="card-title">{{title}}</div>
        <input disabled type="float" name="{{parameter}}" id="{{parameter}}" />
        <div class="filter__minmax">
            <label for="{{parameter}}_minmax">Mínimo</label>
            <label class="switch">
                <input type="checkbox" name="{{parameter}}_minmax" id="{{parameter}}_minmax">
                <span class="slider"></span>
            </label>
            <label for="{{parameter}}_minmax">Máximo</label>
        </div>
    </div>
    <script>
        var {{parameter}}Value = document.querySelector("#{{parameter}}")

        var localStorage{{parameter}} = localStorage.getItem('{{parameter}}')
        localStorage{{parameter}} ??= ''
        {{parameter}}Value.value = localStorage{{parameter}};

        {{parameter}}Value.addEventListener("change", (e) => {
            const {value} = e.target;
            localStorage.setItem('{{parameter}}', value)
        })
    </script>
{% endmacro %}

{% macro file_field(name, title) %}
    <div class="card swipe-down">
        <div class="card-title">{{title}}</div>
        <input class="inputfile" type="file" required name="{{name}}" accept=".xml"/>
    </div>
{% endmacro %}

{% macro check_field(name, label) %}
    <label class="filter__checkbox swipe-left" <label for="{{name}}">
        <input id="{{name}}" type="checkbox" checked="true" value="true" name="{{name}}" />
        {{label}}
    </label>

    <script>
        const {{name}}Input = document.getElementById('{{name}}')

        var localStorage{{name}} = localStorage.getItem('{{name}}')
        localStorage{{name}} ??= 'true'
        {{name}}Input.checked = localStorage{{name}} == 'true'

        {{name}}Input.addEventListener('change', (e) => {
            const {checked} = e.target;
            localStorage.setItem('{{name}}', checked)
        })

    </script>
{% endmacro %}